
html,body{
    font-family: 'Muli', sans-serif !important;
}
#backgroundVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
}


.intro{
    color:rgb(6, 124, 95) !important ;
    max-height: 90vh;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color:transparent;
    /* background: url(images/me.jpg); */
    background: url(images/developermain.svg);
    /* background: url(images/developer.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'Muli', sans-serif ;

}
#showOnSmall,#showOnBig{
    display: none;
}

@media only screen and ( min-width:800px ){
    #showOnBig{
        display:inherit;
    }
    .skill-section{
        height: 80vh;
    }
    .cont{
        display: flex ;
        justify-content: center;
        height: 85vh;
    }
    .intro-2{
        margin: auto;
        height: auto;
        padding: 10px;
    }
    .intro-header{
        font-size: xx-large;
    }
    .intro-text-name{
        font-size: 50px;
    }
    .intro-text{
        font-family:'Muli', sans-serif ;
    }
    /* .dropleft{
        display: none !important;
    } */
}
/* @media only screen and (max-width:600px){
    #showOnSmall{
        display:inherit;
    }
    .intro{
        max-height: 50vh;
    }
    .intro-header{
        font-size: 30px;
        font-weight: bold;
    }
    .intro-text-name{
        font-size: 30px;
        font-weight: bold;
    }
    .mobile-grid{
        max-width: 45vw;
        float: left;
    }
   
   
} */
@media only screen and (max-width:768px){
    #showOnSmall{
        display:inherit;
    }
    .intro{
        max-height: 50vh;
    }
    .intro-header{
        font-size: 30px;
        font-weight: bold;
    }
    .intro-text-name{
        font-size: 30px;
        font-weight: bold;
    }
    .mobile-grid{
        max-width: 45vw;
        float: left;
    }
   
   
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0f969c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
#nav-button, .nav-button{
   right: 2rem;
	top:4rem;
    position:fixed;
    z-index: 10000 !important;
}
.nav-btn{
	background-color:#0f969c !important;
	color:#FFF !important;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.socials .nav-item a{
    color: #fff;
    background-color:  #0f969c;
    border-radius: 80px;
    border: 1px solid #0f969c;
}
.socials .nav-item a:hover{
    color: #0f969c;
    background-color:  #ffffff;
    border: 1px solid #0f969c;
}
.intro-text{
    color: #362d298f;
    padding-bottom: 30px;
}
hr{
    border-bottom: 2px solid #0f969c !important;
}
.line-1{
    border-bottom: 2px solid #0f969c !important;
    max-width: 20%;
    margin: auto;
}
.line-2{
    border-bottom: 2px solid #0f969c !important;
    max-width: 10%;
    margin: auto;
}

.intro-header, .intro-text-name{
    font-family: 'Tangerine', serif;
    color: #0f969c;
}

.navbar-toggler{
    color: #0f969c !important;
}
.skill-section{
    max-height: 80vh;
}
.icon{
    max-height:10vh !important;
}
.cover{
    height: 50vh;
    /* width: 100%; */
    /* background-color: rgba(0, 0, 0, 0.774); */
    border-radius: 6px;
}

.typing{
    color:#0f969c !important ;
    font-size: 25px;
}
.skill{
    border:1px solid rgba(6, 223, 169, 0.123) !important ;
    border-radius: 6px;
    color:#0f969c !important ;
    padding-top: 25px !important;
    font-family: 'Muli', sans-serif !important;
}
.skill:hover{
    background-color: #13c5cd;
    color: rgb(255, 255, 255) !important;
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 7s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
 }
.skill .fab{
    font-size: 40px !important;
}
.active{
    /* border-color:#0f969c !important;
    border-bottom: 5px solid #0f969c !important ; */
}

.last{
    background-color: #0f969c;
    border-radius: 25px;
    color:rgb(255, 250, 250)!important ;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;
    border: 2px solid #0f969c;
}
.last1{
    background-color: #0f959c83;
    border-radius: 25px;
    color:rgb(255, 250, 250)!important ;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;
    /* border: 2px solid #0f969c; */
}
.last:hover{
    color: #0f969c!important ;
    background-color: #fff;
    border: 2px solid #0f969c;
}

/* .nav{
    z-index: 1;
    background: transparent;
    float: left;
} */
#brand{
    font-family: 'Muli', sans-serif;
    color: #0f969c;
    font-weight: bolder;
}
#brand .b-1{
    color: #0f969c;
    border-color: #0f969c !important;
    border-top-left-radius: 8px;
}
#brand .b-2{
    color: #ffffff !important;
    background-color: #0f969c !important;
    border-color: #0f969c !important;
    border-bottom-right-radius: 8px;
}
#brand:hover{
    color: rgb(0, 0, 0);
}
ul li a{
    font-family: 'Muli', sans-serif ;
    font-weight: bold;
    font-size: small;
    margin: 6px;
    color:#0f969c;
    border-bottom: 5px solid transparent ;
}
@media only screen and (max-width:600px){
    .typing{
        font-size: 13px;
        background-color: rgb(3, 59, 54);
        padding: 15px;
        min-width: 100vw;
    }
}


