<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
       
        <v-data-table
    :headers="headers"
    :items="roles"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>My CRUD</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >New Item</v-btn>
          </template>
          <!-- <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.role" label="Role name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.roledescription" label="Role Description"></v-text-field>
                  </v-col>
                  
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card> -->
           <v-card>
              <v-card-title>
                <span class="headline">Customerize Role</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <!-- <v-col cols="12" sm="12" md="12">
                      <v-text-field label="Legal first name*" required></v-text-field>
                    </v-col> -->
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field label="New Name" v-model="editedItem.role"  prepend-icon="mdi-account" solo hint="name of the role "></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-textarea
                        label="Role Description*"
                        hint="Describe the role here "
                        persistent-hint
                        required
                        v-model="editedItem.roledescription"
                        solo
                        prepend-icon="mdi-comment"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="save">Submit</v-btn>
                <v-btn color="blue darken-1" text @click="close">Close</v-btn>
              
              </v-card-actions>
            </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="getAllRoles">Reset</v-btn>
    </template>
  </v-data-table>
        
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
 import axios from 'axios'
  export default {
    name: 'HelloWorld',

    data: () => ({
      dialog: false,
      headers: [
        {
          text: 'Role ID',
          align: 'start',
          sortable: false,
          value: 'RoleId',
        },
        { text: 'Role Name', value: 'role' },
       
        { text: 'Role Description', value: 'roledescription' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      roles: [],
      
      editedIndex: -1,
      editedItem: {
        RoleId: '',
        role: '',
        roledescription: '',
      },
      defaultItem: {
        RoleId: '',
        role: '',
        roledescription: '',
        
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    // async created () {
    //   // this.initialize()
    //   await this.getAllRoles();
    //         this.feed()

    // },
    async mounted () {
      // this.initialize()
      await this.getAllRoles();
            // this.feed()

    },


    methods: {
      // Get all roles//
      async getAllRoles () {
        // let sectoken = localStorage.getItem('token');
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImR1cm90b3NpbjExMUBnbWFpbC5jb20iLCJ1c2VySWQiOiIxMSIsImVtYWlsQWRkcmVzcyI6ImR1cm90b3NpbjExMUBnbWFpbC5jb20iLCJmaXJzdG5hbWUiOiJBamFuaSIsImxhc3RuYW1lIjoiT3dvbmlrb2tvIiwicm9sZUlkIjoiMiIsIm5iZiI6MTU5MjI1MjY0OSwiZXhwIjoxNTkyMjU1MDQ5LCJpYXQiOjE1OTIyNTI2NDksImlzcyI6Imh0dHBzOi8vbG9jYWxob3N0OjQ0MzAyLyIsImF1ZCI6Imh0dHBzOi8vbG9jYWxob3N0OjQ0MzAyLyJ9.bY5i4qM7sA6KvGOrWHW7A2tT7lRFrC-cqu3PLlO2vp5VdAAi70w23NeTrV90GaLtqcrnztsSxRyAT_DGHG4EgMc02ariLM9WTon9eqQEkN1LJcqAL-iWQ4iITAkmUxw8a7v-cf3dvvmO4m0hk5LQt7L_vL_Ecja550RmrvBPVSEAeGPA5YRMRRi4JS4DvMbAxsIpQS5Qa6MC7F5iDCHi8zmq9uwtGQmRkCGvfcEVmGmPakYlLp5nN6xlZHYKTnj2shD97NmT6-PPO1_1OipMeMO1t4FW83vHYzpuxZqe3nl4IAa169XYwGrl3im-XknQl5F45r3jM_A6IMA16bwqig';

        var self = this;
        
        await axios.get('https://ticketapidevas.azurewebsites.net/api/Roles/GetAllRoles')
          .then( function (response) {
          console.log(response.data.data);
          self.roles = response.data.data
        })
        .catch(function (error) {
          console.log(error);
        });
        // self.clear()
      },
     
      editItem (item) {
        this.editedIndex = this.roles.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.roles.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.roles.splice(index, 1)
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      async save () {
        
       
       
        if (this.editedIndex > -1) {
          // Object.assign(this.roles[this.editedIndex], this.editedItem)
          // const userInfo = JSON.parse(localStorage.getItem('loginData'));
          // const userId = self.userInfo.userId;
            const payload = {
              userId : 2,
              // userId = this.userId,
              roleId : this.editedItem.RoleId,
              customizeRoleName : this.editedItem.role,
              customizeRoleDescrition : this.editedItem.roledescription
            }
            console.log(payload)
            
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImR1cm90b3NpbjExMUBnbWFpbC5jb20iLCJ1c2VySWQiOiIxMSIsImVtYWlsQWRkcmVzcyI6ImR1cm90b3NpbjExMUBnbWFpbC5jb20iLCJmaXJzdG5hbWUiOiJBamFuaSIsImxhc3RuYW1lIjoiT3dvbmlrb2tvIiwicm9sZUlkIjoiMiIsIm5iZiI6MTU5MjI1MjY0OSwiZXhwIjoxNTkyMjU1MDQ5LCJpYXQiOjE1OTIyNTI2NDksImlzcyI6Imh0dHBzOi8vbG9jYWxob3N0OjQ0MzAyLyIsImF1ZCI6Imh0dHBzOi8vbG9jYWxob3N0OjQ0MzAyLyJ9.bY5i4qM7sA6KvGOrWHW7A2tT7lRFrC-cqu3PLlO2vp5VdAAi70w23NeTrV90GaLtqcrnztsSxRyAT_DGHG4EgMc02ariLM9WTon9eqQEkN1LJcqAL-iWQ4iITAkmUxw8a7v-cf3dvvmO4m0hk5LQt7L_vL_Ecja550RmrvBPVSEAeGPA5YRMRRi4JS4DvMbAxsIpQS5Qa6MC7F5iDCHi8zmq9uwtGQmRkCGvfcEVmGmPakYlLp5nN6xlZHYKTnj2shD97NmT6-PPO1_1OipMeMO1t4FW83vHYzpuxZqe3nl4IAa169XYwGrl3im-XknQl5F45r3jM_A6IMA16bwqig';
            await axios.post('https://ticketapidevas.azurewebsites.net/api/Roles/CustomizeRoles', payload)
              .then( function (response) {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });
             Object.assign(this.roles[this.editedIndex], this.editedItem)

        } else {
          this.roles.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>
