<template>
  <v-app>
     <!-- <video autoplay muted loop id="backgroundVideo">
       <source src="./assets/videos/video.mp4" type="video/mp4">
     </video> -->
     <div class="container-fluid p-0">
    
  

    
       <div class="row justify-content-center m-0 p-0">
         <div class="col-sm-6 intro " >
              <div class="cover">
           

                
              </div>
         </div>
       <div class="col-sm-6 skill-section ">
              <div class="row justify-content-center m-0 p-0 cont">
               
                  <div class="col-sm-10 text-justify shadow intro-2 p-5 ">
                      <!-- <p class="intro-header">Hi ...</p> -->
                      <p class="intro-text-name text-center">Agu Maxwell Chigozie 
                          <!-- <i class="fa fa-dragon" style="font-size:14px; color:#ff7c03;" aria-hidden="true"></i>  -->
                          <i style="font-size:14px; color:#d67244;" class="fas fa-certificate"></i></p> 
                      <!-- <hr> -->
                        <p class="line-1 mt-10"></p>
                        <p class="line-2"></p>
                     
                      <p class="intro-text">
                        I am anxperienced Full-Stack Developer with a 
                        demonstrated history of excellence and passion. 
                        Skilled in Front and Back-End Web Development, 
                        Database design and development, Systems analysis, 
                        Test Driven Development, and Agile development process. 
                        Strong engineering professional with a degree in 
                        Computer Science. Experienced lead developer. 
                        </p>
                        <p class="line-2"></p>
                        <p class="line-1 mb-5"></p>

                        <div class="socials mt-10">
                            <ul class="nav justify-content-center m-0 p-0">
                                <li class="nav-item text-center">
                                    <a class="nav-link" target="blank" href="https://github.com/agumaxwellforcode" data-toggle="tooltip" data-placement="bottom" title="Checkout my works on github"> <i class="fab fa-github"></i></a>
                                </li>
                                 <li class="nav-item text-center">
                                    <a class="nav-link" target="blank" href="https://github.com/agumaxwellforcode" data-toggle="tooltip" data-placement="bottom" title="Checkout my works on gitlab"> <i class="fab fa-gitlab"></i></a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" target="blank" href="https://twitter.com/agumaxwell9" data-toggle="tooltip" data-placement="bottom" title="Follow me on twitter"> <i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link " href="mailto:agumaxwell9@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Send me a mail"> <i class="fas fa-at"></i></a>
                                </li>

                            </ul>
                        </div>
                        <!-- <p class="line-2"></p>
                        <p class="line-1"></p> -->
                       
                        
                  </div>
                 
              </div>
         </div>
       </div>
     </div>
     <!-- <HelloWorld></HelloWorld> -->
   
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
import $ from 'jquery';
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
   
  }),
};
</script>


