<template>
  <v-app>
     <div class="container-fluid p-0">
    
    
       <div class="row justify-content-center m-0 p-0">
         <div class=" col-lg-6 col-sm-6 col-md-10 intro " >
          <!-- <h1>Hello </h1><br> -->
              <div class="cover">
              </div>
             
         </div>
          <div class="col-lg-6 col-sm-6 col-md-10 skill-section ">
              <div class="row justify-content-center m-0 p-0 cont">
               
                  <div class="col-sm-12 text-justify  intro-2 p-5 ">
                      <p class="intro-text-name text-center">Portfolio
                          <i style="font-size:14px; color:#d67244;" class="fas fa-certificate"></i></p> 
                        <p class="line-1 mt-5"></p>
                        <p class="line-2 mb-4"></p>
                     <div class="row pt-3">

                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="../assets/images/progress.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">Sorry, I'm still working on it!! </p> 
                        </div>
                      
               
                      <!-- <div class="col-sm-4 p-1">
                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="..\assets\images\web2.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">Web Development </p> 
                        </div>
                      </div>
                      <div class="col-sm-4 p-1">
                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="..\assets\images\mobile.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">Mobile Development </p> 
                        </div>
                      </div>
                      <div class="col-sm-4 p-1">
                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="..\assets\images\uiux.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">UI / UX Design </p> 
                        </div>
                      </div>
                      <div class="col-sm-4 p-1">
                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="..\assets\images\support.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">IT Support </p> 
                        </div>
                      </div>
                      <div class="col-sm-4 p-1">
                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="..\assets\images\training.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">Education / Training </p> 
                        </div>
                      </div>
                      <div class="col-sm-4 p-1">
                        <div class="col-sm-12  text-center shadow-lg skill">
                          <img src="..\assets\images\consultant.svg" class="img-fluid icon" alt="" srcset="">
                          <p class="mt-3 mb-2 small">General Consultant </p> 
                        </div>
                      </div> -->
                      
                    </div>   
                  </div>
                 
              </div>
         </div>

       </div>
     </div>
     <!-- <HelloWorld></HelloWorld> -->
   
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
   
  }),
};
</script>


