<template>
  <v-app>
     <div class="container-fluid p-0">
    
    
       <div class="row justify-content-center m-0 p-0">
         <div class="col-lg-6 col-sm-6 col-md-10 intro " >
          <!-- <h1>Hello </h1><br> -->
              <div class="cover">
            
              </div>
         </div>
          <div class="col-lg-6 col-sm-6 col-md-10 skill-section ">
              <div class="row justify-content-center m-0 p-0 cont">
               
                  <div class="col-sm-12 text-justify  intro-2 p-3 ">
                      <p class="intro-text-name text-center mt-5">What I use
                          <i style="font-size:14px; color:#d67244;" class="fas fa-certificate"></i></p> 
                        <p class="line-1 mt-5"></p>
                        <p class="line-2 mb-4"></p>
              <div class="row pt-3">
               
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-html5"></i>
                     <p class="mt-3 mb-2 small">HTML </p> 
                  </div>
                </div>
                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-css3-alt"></i>
                     <p class="mt-3 mb-2 small">CSS </p> 
                  </div>
                </div>
                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                     <i class="fab fa-js"></i>
                     <p class="mt-3 mb-2 small">JAVASCRIPT </p> 
                  </div>
                </div>
               
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                     <i class="fab fa-laravel"></i>
                     <p class="mt-3 mb-2 small">LARAVEL</p> 
                  </div>
                </div>
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                     <i class="fab fa-node"></i>
                     <p class="mt-3 mb-2 small">NODE </p> 
                  </div>
                </div>
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                     <i class="fab fa-node"></i>
                     <p class="mt-3 mb-2 small">EXPRESS </p> 
                  </div>
                </div>
                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-vuejs"></i>
                     <p class="mt-3 mb-2 small">VUE </p> 
                  </div>
                </div>
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                     <i class="fab fa-react"></i>
                     <p class="mt-3 mb-2 small">REACT</p> 
                  </div>
                </div>
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-bootstrap"></i>
                     <p class="mt-3 mb-2 small">BOOTSTRAP </p> 
                  </div>
                </div>
                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-sass"></i>
                     <p class="mt-3 mb-2 small">SASS </p> 
                  </div>
                </div>
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fas fa-database"></i>
                     <p class="mt-3 mb-2 small">MYSQL </p> 
                  </div>
                </div>
                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fas fa-database"></i>
                     <p class="mt-3 mb-2 small">PGSQL </p> 
                  </div>
                </div>
                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fas fa-database"></i>
                     <p class="mt-3 mb-2 small">MONGODB </p> 
                  </div>
                </div>
                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fas fa-database"></i>
                     <p class="mt-3 mb-2 small">FIREBASE </p> 
                  </div>
                </div>

                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-gitlab"></i>
                     <p class="mt-3 mb-2 small">GITLAB </p> 
                  </div>
                </div>

                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-github"></i>
                     <p class="mt-3 mb-2 small">GITHUB </p> 
                  </div>
                </div>

                 <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-aws"></i>
                     <p class="mt-3 mb-2 small">AWS </p> 
                  </div>
                </div>

                <div class="col-sm-2 p-1 mobile-grid">
                  <div class="col-sm-12  text-center shadow skill">
                    <i class="fab fa-microsoft"></i>
                     <p class="mt-3 mb-2 small">AZURE </p> 
                  </div>
                </div>
                 
              </div>
                        <!-- <p class="line-2"></p>
                        <p class="line-1"></p> -->
                       
                        
                  </div>
                 
              </div>
         </div>

       </div>
     </div>
     <!-- <HelloWorld></HelloWorld> -->
   
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
   
  }),
};
</script>


