

<template>
  <div id="c">
       <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-transparent">
          <a class="navbar-brand " id="brand" href="#"> <span class="b-1 border p-1">max</span><span class="b-2 p-1 border">grid</span> </a>
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
          </button>
          <div id="navbarNavDropdown" class="navbar-collapse collapse bg-white text-center">
              <ul class="navbar-nav mr-auto">
                 
              </ul>
              <ul class="navbar-nav mt-3" id="showOnBig">
                 <li class="nav-item active" >
                   <router-link class="nav-link" to="/">Me <span class="sr-only">(current)</span></router-link>
                  </li>
                  <li class="nav-item ">
                    <router-link class="nav-link " to="/services">What I do </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link class="nav-link" to="/skill">What I use </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link class="nav-link" to="/portfolio">What I have done </router-link>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link last" href="#">More</a>
                  </li>
    
    
              </ul>
               <ul class="navbar-nav mt-3" id="showOnSmall">
                 <li class="nav-item active" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                   <router-link class="nav-link" to="/">Me <span class="sr-only">(current)</span></router-link>
                  </li>

                  <li class="nav-item " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <router-link class="nav-link " to="/services">What I do </router-link>
                  </li>
                  <li class="nav-item" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <router-link class="nav-link" to="/skill">What I use </router-link>
                  </li>
                  <li class="nav-item" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <router-link class="nav-link" to="/portfolio">What I have done </router-link>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link last" href="#">More</a>
                  </li>
    
    
              </ul>
             
          </div>
      </nav>
         <!-- <a href="#" class="float">
            <i class="fa fa-bars my-float"></i>
        </a> -->
       <router-view/>
              
        <nav class="navbar navbar-expand-lg navbar-light fixed-bottom justify-content-center bg-transparent">        
               <ul class="navbar-nav mt-3" id="showOnBig">
                <li class="nav-item ">
                      <a class="nav-link last"  href="mailto:agumaxwell9@gmail.com"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                  </li>
                   <li class="nav-item">
                      <a class="nav-link last" href="tel:+2348069449097"> <i class="fa fa-phone-alt" aria-hidden="true"></i> </a>
                  </li>
              </ul>
              
              <ul class="navbar-nav justify-content-end" id="showOnSmall">
                  <li v-if="contact == true" class="nav-item ">
                      <a class="nav-link last p-1" href="mail"> <i class="fa fa-github" aria-hidden="true"></i> </a>
                  </li>
                   <li v-if="contact == true" class="nav-item">
                      <a class="nav-link last p-1" href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                  </li>
                   <li v-if="contact == true" class="nav-item ">
                      <a class="nav-link last p-1" mailto="agumaxwell9@gmail.com"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                  </li>
                   <li v-if="contact == true" class="nav-item">
                      <a class="nav-link last p-1" href="#"> <i class="fa fa-phone-alt" aria-hidden="true"></i> </a>
                  </li>
                   <li class="nav-item"  v-if="contact == false && contactOpen == true">
                      <button class="nav-link last1"  @click="contactMe()"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </button>
                  </li>
                   <li class="nav-item justify-content- mr-0"  v-if="contact == true && contactOpen == false">
                      <button v-if="contact == true" class="nav-link last1" @click="contactMe()"> &nbsp; <i class="fa fa-times" aria-hidden="true"></i> </button>
                  </li>
              </ul>
              
          </nav>
  </div>
</template>

<script>

export default {
  name: 'App',

  components: {
    // HelloWorld,
    // Home,
  },

  data: () => ({
    active:'',
    contact: false,
    contactOpen: true,
    // contactClose: false,
  }),
  mounted(){

  },
  methods:{
    contactMe(){
      this.contact = !this.contact
      this.contactOpen =  !this.contactOpen
    }
    
  }
}
</script>



